.custom-register-container {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  /* background-color: #f2f3f5; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px !important;
  margin-top: 48px;
}
.contenedor-imagen-izquierda-registro {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .signup {
  padding: 35px 32px !important;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  max-width: 480px; 
} */
.signup {
  padding: 35px 32px !important;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  max-width: 480px;
  border: 10px solid #dbdbdb;
}
.signup-heading {
  text-align: center;
  font-weight: 600;
  color: #363a40;
  font-size: 30px;
  margin-bottom: 35px !important;
}
.signup-google {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background-color: #4c6ef4;
  text-decoration: none;
  padding: 8px !important;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px -5px rgba(76, 110, 244, 0.9);
}
.signup-google-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff7870;
  border-radius: 10px;
  background-color: white;
  font-size: 25px;
}
.signup-google-text {
  color: white;
  font-weight: 500;
  display: block;
  margin: 0 auto;
}
.signup-or {
  color: #363a40;
  display: block;
  text-align: center;
  position: relative;
  /*margin-bottom: 55px;*/
}
.signup-or-text {
  display: inline-block;
  padding: 5px 10px !important;
  background-color: white;
  position: relative;
  font-size: 14px;
}
.signup-or:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #999;
  transform: translateY(-50%);
}
.signup-already {
  text-align: center;
  color: #363a40;
  font-size: 13px;
}
.signup-already-link {
  color: #4c6ef4;
  text-decoration: none;
}

.form-group {
  margin-bottom: 5px;
}

.form-label {
  display: inline-block;
  cursor: pointer;
  color: #363a40;
  margin-bottom: 15px;
  font-size: 13px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px !important;
  border-radius: 8px;
  border: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: #f2f3f5;
  color: #363a40;
  font-size: 16px;
}
.form-input::-webkit-input-placeholder {
  color: #b4bdc1;
}

.form-submit {
  display: block;
  margin-top: 45px;
  width: 100%;
  padding: 20px !important;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
  background-color: #81c91d;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px -5px rgba(129, 201, 29, 0.9);
  outline: none;
}

@media (max-width: 767px) {
  .contenedor-imagen-izquierda-registro {
    display: none;
    padding: 30px 20px !important;
  }
  .navbar {
    padding: 10px !important;
  }
  .signup {
    padding: 10px 15px !important;
    border-radius: 0 !important;
    border: 0px !important
  }
  .signup-heading {
    text-align: center;
    font-weight: 600;
    color: #363a40;
    font-size: 30px;
    margin-bottom: 12px !important;
  }
  .signup-google {
    padding: 6px !important;
  }
  .form-input {
    padding: 5px !important;
  }
  .form-input::placeholder {
    font-size: 12px;
  }
  .form-submit {
    margin-top: 30px;
    padding: 10px !important;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .row{
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}
